* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "SF Pro Display", "Roboto", sans-serif;
  overflow-x: hidden;
  color: $text-mc;
  background-color: $text-light;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}

.overflow-hidden {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.basic-flex {
  display: flex;
  align-items: center;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.main-color {
  color: $mc;
}

.btn-primary {
  display: block;
  padding: 30px 40px;
  border: 1px solid $mc;
  background-color: $mc;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  transition: 0.3s ease;
  margin-bottom: -1px;
  margin-top: -1px;
  &:hover,
  &:focus {
    background-color: transparent;
    color: $mc;
  }
  //TODO
  // &.empty-version {
  //   background-color: transparent;
  //   color: $mc;
  //   &:hover,
  //   &:focus {
  //     background-color: $mc;
  //     color: white;
  //   }
  // }
}

.title-with-circle {
  position: relative;
  font-size: 80px;
  color: $mc;
  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 340px;
    height: 160px;
    background-repeat: no-repeat;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    background-image: url("../../img/icons/ellipse.svg");
  }
}

.numbered-list {
  li {
    padding: 30px 0;
    border-bottom: 1px solid $text-gray;
    border-top: 1px solid $text-gray;
    margin-bottom: -1px;
    display: flex;
    span {
      margin-right: 40px;
      display: block;
      color: $mc;
      font-weight: bold;
      font-size: 20px;
    }
    p {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}

.section-content {
  display: flex;
  justify-content: space-between;
  .main-content {
    width: 49%;
  }
  .sticky-bar {
    width: 49%;
    & > div {
      position: sticky;
      top: 0;
    }
    .img-wrapper {
      top: 0;
      height: 100vh;
      position: sticky;
      .waves {
        position: absolute;
        z-index: -1;
        top: 13%;
        right: -25%;
        transform: scale(1.3);
      }
    }
  }
}

.btn-circle {
  font-size: 20px;
  color: $text-mc;
  margin-left: 75px;
  height: 150px;
  display: inline-flex;
  align-items: center;
  position: relative;
  &::before {
    position: absolute;
    left: 0;
    content: "";
    display: block;
    width: 150px;
    height: 150px;
    background-color: $mc;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border: 1px solid $mc;
    transition: 0.3s ease;
  }
  &:hover,
  &:focus {
    &::before {
      background-color: transparent;
    }
  }
}

.accordion-list {
  margin-bottom: 100px;
  .item {
    width: 100%;
    transition: 0.3s ease;
    h6 {
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      transition: 0.3s ease;
      img {
        display: block;
        transform: rotate(-90deg);
        transition: 0.3s ease;
        transition: 0.3s ease;
      }
      &.active {
        color: $mc;
        img {
          transform: rotate(0);
        }
      }
    }
    li {
      padding: 0;
      border: none;
      color: $text-sc;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    ul,
    p {
      padding-top: 0;
      height: 0;
      overflow: hidden;
      transition: 0.3s ease;
      opacity: 0;
      &.active {
        height: auto;
        padding-top: 30px;
        opacity: 1;
      }
    }
  }
}

.dark-mode {
  .title-with-circle {
    &::after {
      filter: invert(1);
      opacity: 1;
    }
  }
}

.secondary-title {
  h4 {
    margin-bottom: 50px;
  }
}

.section {
  margin-bottom: 200px;
}

@media (max-width: $tablet-breakpoint) {
  .title-with-circle {
    font-size: 60px;
    text-align: center;
    &::after {
      width: 100%;
      height: 100px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-size: contain;
      background-position: center center;
    }
  }
  .section {
    margin-bottom: 100px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .section-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    .main-content {
      width: 100%;
    }
    .sticky-bar {
      width: 100%;
      & > div {
        position: initial;
      }
      .img-wrapper {
        height: unset;
        position: relative;
        .waves {
          position: absolute;
          z-index: -1;
          top: 50%;
          left: 50%;
          right: unset;
          transform-origin: center;
          transform: scale(1.3) translate(-40%, -50%);
        }
      }
    }
  }

  .btn-circle {
    font-size: 20px;
    color: $text-mc;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      display: block;
      width: 100px;
      height: 100px;
      background-color: $mc;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      border: 1px solid $mc;
      transition: 0.3s ease;
    }
    &:hover,
    &:focus {
      &::before {
        background-color: transparent;
      }
    }
  }
}

@media (max-width: $mobile-screen) {
  .btn-circle {
    font-size: 16px;
  }
  .numbered-list {
    li {
      padding: 10px 0;
      span {
        margin-right: 10px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .title-with-circle {
    font-size: 44px;
    text-align: center;
  }
  .accordion-list {
    margin-bottom: 50px;
    .item {
      display: block;
      width: 100%;
      h6 {
        width: 100%;
        font-size: 15px;
        img {
          width: 15px;
        }
      }
      li {
        font-size: 13px;
      }
      ul,
      p {
        &.active {
          padding-top: 10px;
        }
      }
    }
  }
}
