.course-target-list {
  margin-bottom: 75px;
  li {
    display: block;
    padding: 30px 0;

    span {
      font-size: 120px;
      -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $mc;
      font-weight: bold;
      margin-bottom: 15px;
    }
    h6 {
      font-size: 40px;
      margin-bottom: 25px;
    }
    p {
      color: $text-sc;
      font-size: 20px;
      line-height: 1.5;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  #course-target {
    .section-content {
      flex-direction: column;
    }
  }
}

@media (max-width: $mobile-screen) {
  .course-target-list {
    margin-bottom: 50px;
    li {
      padding: 10px 0;

      span {
        font-size: 80px;
        margin-bottom: 0;
      }
      h6 {
        font-size: 22px;
        margin-bottom: 10px;
      }
      p {
        color: $text-sc;
        font-size: 14px;
        line-height: 1.2;
      }
    }
  }
}
