.additional-questions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-size: 40px;
    color: $text-sc;
    max-width: 600px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .additional-questions {
    p {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
