#intro {
  padding-top: 75px;
  h1 {
    font-size: 55px;
  }
  .secondary-title {
    h4 {
      font-size: 40px;
      color: $text-mc;
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 50px;
    }
  }
  .info {
    margin-bottom: 220px;
    p {
      margin-bottom: 50px;
    }
  }
  .person-name {
    margin-bottom: 50px;
    h3 {
      font-size: 60px;
    }
    p {
      font-size: 20px;
    }
  }
  .awards-list {
    margin-bottom: 80px;
  }
  .founded-businesses {
    h5 {
      font-size: 26px;
      color: $mc;
      margin-bottom: 30px;
    }
    .inner-wrapper {
      display: flex;
    }
    a {
      width: 185px;
      height: 185px;
      border-radius: 50%;
      border: 2px solid $text-gray;
      background-color: #fff;
      transition: 0.3s ease;
      &:not(:last-child) {
        margin-right: 15px;
      }
      &:hover,
      &:focus {
        border-width: 2px;
        border-color: rgb(0, 173, 136);
        box-shadow: 0px 0px 30px 0px rgba(0, 173, 136, 0.44);
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $mc;
}

input:focus + .slider {
  box-shadow: 0 0 1px $mc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: $desktop-breakpoint) {
  #intro {
    .founded-businesses {
      a {
        width: 150px;
        height: 150px;
        img {
          max-width: 90%;
        }
      }
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  #intro {
    padding-top: 20px;
    h1 {
      font-size: 44px;
      color: $mc;
      text-align: center;
      &:after {
        width: 100%;
        left: 50%;
        top: 50%;
      }
    }
    .founded-businesses {
      a {
        width: 100px;
        height: 100px;
        img {
          max-width: 70%;
        }
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  #intro {
    .info {
      margin-bottom: 100px;
    }
    .person-name {
      text-align: center;
    }
  }
}

@media (max-width: $mobile-screen) {
  #intro {
    h1 {
      font-size: 25px;
      &::after {
        display: none;
      }
    }
    .secondary-title {
      h4 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 25px;
      }
    }
    .sticky-bar {
      margin-bottom: 40px;
      & > .img-wrapper {
        height: 40vh;
      }
    }
    .info {
      margin-bottom: 60px;
      p {
        text-align: center;
        margin-bottom: 25px;
      }
    }
    .person-name {
      display: none;
      h3 {
        font-size: 42px;
      }
      p {
        font-size: 18px;
      }
    }
    .awards-list {
      margin-bottom: 50px;
    }
    .founded-businesses {
      text-align: center;
      .inner-wrapper {
        justify-content: space-between;
        a {
          margin: 0;
        }
      }
    }
  }
}
