.partners-wrapper {
  display: flex;
  align-items: center;
  & > .img-wrapper {
    margin-right: 200px;
  }
}

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    font-size: 40px;
    color: $text-mc;
    transition: 0.3s ease;
    width: 120px;
    transition: 0.3s ease;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .partners-wrapper {
    position: relative;
    & > .img-wrapper {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
    .partners-list {
      margin: 0 auto;
      justify-items: center;
    }
  }
}

@media (max-width: $mobile-screen) {
  .partners-list {
    grid-template-columns: 1fr 1fr;
  }
}
